.container {
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    color: blue;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid gray;
    box-shadow: 0 0 5px gray;
    background-color: rgb(220, 209, 209);
}

.headers {
    margin-top: 10px;
    display: inline;
}